/* main body */
html, body {
  margin: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* format fancy outline */
.outline {
  background: linear-gradient(30deg, #03A9F4 0%, #9C27B0 100%);
  padding: 5px;
  height: 220px;
  width: 420px;
  margin: auto;
}

/* format main content box background */
.box {
  background-color: white;
  font-family: helvetica;
  height: 220px;
  width: 420px;
}

/* format content text with gradient */
.content {
  background: linear-gradient(30deg, #03A9F4 0%, #9C27B0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 10px 0px 10px;
  height: 220px;
}

/* format title text */
.content h1 {
  text-align: center;
  font-weight: normal;
  font-size: 60px;
  margin: 0px;
}

/* format bottom links */
.content p {
  text-align: justify;
  font-weight: bold;
  font-size: 20px;
  padding-top: 118px;
  margin: 0px;
}

/* text-align: justify hack for full width */
p:after {
  content: "";
  display: inline-block;
  width: 100%;
}

/* remove default link formatting */
.content a {
  text-decoration: none;
}
