/* color palette
 * #3b5998	(59,89,152)
 * #8b9dc3	(139,157,195)
 * #dfe3ee	(223,227,238)
 * #f7f7f7	(247,247,247)
 * #ffffff	(255,255,255)
 * #00b8ff
 * #bd00ff
 * #d600ff
 *
 *
 *
 *
 *
 *
 */

/* background gradient */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(330deg, rgba(3,169,244,.5), rgba(156,39,176,.5));
  display: flex;
  align-items: center;
}

/* middle bar for content */
.middle {
  height:200px;
  width: 100%;
  background:#f7f7f7;
}

/* actual text and stuff */
.content {
  font-family: helvetica;
  height:200px;
  width: 600px;
  margin: auto auto;
}

/* header text */
.content h1 {
  background: linear-gradient(30deg, #03A9F4 0%, #9C27B0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 400%;
  font-weight: normal;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.content p {
  background: linear-gradient(30deg, #03A9F4 0%, #9C27B0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}

.content a {
  text-decoration: none;
}
